{% extends 'lib/base.html' %}
{% block links %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/style.css' %}">
{% endblock %}
{% block container %}
    {% if latest_question_list %}

        <ul class="list-group">
            {% for question in latest_question_list %}
                <li class="list-group-item col-sm-12">
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
                        </div>
                    </div>

                    <div class="row">
                        <p class="col-sm-3">{{ question.pub_date }}</p>
                        {% if question.was_published_recently %}
                            <p class="recent-publish col-sm-6">The question was published recently</p>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>

    {% else %}
        <p>No polls are available.</p>
    {% endif %}
{% endblock %}